body {
    font-family: sans-serif;
    direction: rtl;
    margin: 0;
    background: #f5f5f5;

}

header {
    background: #222;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: center;
}

#product-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}


.product-card {
    background: white;
    padding: 20px;
    border-radius: 15px;
    transition: 0.3s;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-card:hover {
    transform: translatey(-10px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.product-card img {
    max-width: 100%;
    height: 180px;
    object-fit: contain;
    margin-bottom: 15px;
}

button, .product-card a {
    background-color: #ef4056;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s;
}

button:hover {
    background-color: #c62828;

}

cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 12px;
    border: 1px solid #eee;
}

.count-contorol {
    display: flex;
    align-items: center;
    gap: 10px;
}

.count-contorol button {
    padding: 5px 12px;
    background-color: #f0f0f0;
    color: #333;
}